* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --white-text: #ffffff;
  --primary-color: #42455a;
  --menu-color: #b2b1b1;
  --active-color: #19dafa;
}
.container {
  width: 100%;
  height: 100vh;
  background: var(--primary-color);
}

.app-menu ul {
  display: inline-flex;
  margin: 50px;

  li {
    list-style: none;
    color: var(--menu-color);
    margin: 0 20px;
    cursor: pointer;
    font-size: 1.4rem;
  }
  .active {
    color: var(--active-color);
  }
  .logo {
    width: 30px;
    margin-right: 40px;
    cursor: pointer;
  }
  .signup-btn {
    position: absolute;
    right: 80px;
    color: var(--white-text);
    background-image: linear-gradient(#42455a, #42455a),
      radial-gradient(circle at top left, #fd00da, #19d7f8);
    border: 2px solid transparent;
    border-radius: 20px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    span {
      display: block;
      padding: 5px 22px;
    }
  }
}
